body{
   margin: 0px;
   width: 100%;
}
header{
      background-color:lightblue;
      height: 45px;
      padding: 30px;
    
  }
  
  .rcorner{
    background-color: lightblue;
    text-align:center;
    font-weight: 15px;
    border:2px solid blue;
    border-radius: 8px;
    padding: 5px;   
  }
  nav{
    float:justify;
    text-align: left;
    text-indent: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color:#D0D23A;
    height:50px;
    width:100%;
  }
  
  footer{
     text-align: center;
     font-weight: bold;
     font-size: 20px;
     background-color:lightblue;
      height: 62px;
     
      padding: 10px;
  }
  .grid-item {
    width: 88%;
  background-color:lightgray;
  padding: 40px;
  height: 120px;
  font-size: 30px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: auto auto;
  padding: 4px;
}
.grid-container1 {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: auto;
  padding: 4px;
  width: 98%;
}
.grid-item1 {
  width: 97%;
  background-color:lightgray;
  padding: 30px;
  height: 127px;
  font-size: 30px;
  text-align: center;
}
strong{
  text-align: center;
  }

@media (max-width:1305px )
{
  .grid-container {
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: auto auto;
  padding: 4px;
  width: 95%;
}
.grid-container1 {

  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  grid-template-columns: auto;
  padding: 4px;
  width:95%;
}
.grid-item {
    width: 84.5%;
  background-color:lightgray;
  padding: 50px;
  height: 120px;
  font-size: 30px;
  text-align: center;
}
}

@media  (max-width:990px)
{
  .grid-container {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto;
  padding: 4px;
}
  .grid-item {
    width: 72%;
  background-color:lightgray;
  padding: 50px;
  height: 120px;
  font-size: 30px;
  text-align: center;
}
 .grid-item1 {
  width: 90%;
  background-color:lightgray;
  padding: 30px;
  height: 127px;
  font-size: 30px;
  text-align: center;
}

}
@media  (max-width:723px)
{
  .grid-container {
  display: grid;
  grid-column-gap: 18px;
  grid-template-columns: auto auto;
  padding: 4px;
  width: 95%;
}
.grid-container1 {

  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  grid-template-columns: auto;
  padding: 4px;
  width:95%;
}
  .grid-item {
    width:65%;
  background-color:lightgray;
  padding: 50px;
  height: 120px;
  font-size: 30px;
  text-align: center;
}
 .grid-item1 {
  width: 92%;
  background-color:lightgray;
  padding: 30px;
  height: 100px;
  font-size: 30px;
  text-align: center;
}

}

@media (max-width:600px)
{
   section{
    width: 100%;
    height: 100%;
    }
    .grid-container {
  display: grid;
  grid-column-gap: 25px;
  grid-template-columns: auto auto;
  width: 95%;
  padding: 4px;
}
   .grid-container1 {

  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 15px;
  grid-template-columns: auto;
  padding: 4px;
  width:95%;
}
.grid-item {
    width: 63%;
  background-color:lightgray;
  padding: 50px;
  height: 120px;
  font-size: 30px;
  text-align: center;
  }
.grid-item1 {
  width: 95.5%;
  background-color:lightgray;
  padding: 20px;
  height: 25px;
  font-size: 10px;
  text-align: center;
}
}