################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MantuBookStore/.vs/MantuBookStore
/MantuBookStore/MantuBookStore/bin/Debug/net5.0
/MantuBookStore/MantuBookStore/obj
