header{
      background-color:lightblue;
      border:1px solid black;
      height: 45px;
      padding: 30px;
  }
  .rcorner{
  	background-color: lightblue;
    text-indent: 20px;
  	text-align: left;
    border:1px solid blue;
    border-radius: 8px;
    padding: 10px;   
  }
  section{
  	float:left;
  	font-weight: bold;
  	font-size: 20px;
  	background-color: cyan;
  	height:450px;
  	width:20%;
  	border:1px solid black;
  }
  footer{
    text-align: center;
    font-weight: bold;
  	 background-color:lightblue;
      border:1px solid black;
      height: 9px;
      padding: 15px;
  }
  .banner{
  	margin: 20px;
  	text-align:left;
  	height: 70px;
    width: 25%;
  	display: inline-block;
  	font-weight:bold;
  	font-size: 23px;
  	font-family: arial;
    padding: 60px;
  border: 1px solid black;    
  background-color: pink; 
  }	
  .block{
  	margin: 20px;
  	text-align:left;
  	height:80px;
    width: 18%;
  	display: inline-block;
  	font-weight:bold;
  	font-size: 23px;
  	font-family: arial;
    padding: 27px;
  border: 1px solid black;    
  background-color:violet; 
  }		
		.main:after{
			content: "";
			clear: both;
			display:table;

		}